<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dojo_new" method="POST">
        <h3>New Dojo</h3>
    <p>Name</p>
    <input type="text" name="name" placeholder="Search">
    <button>Create</button>
    </form>
    <h3>All Dojos</h3>
    {% for i in dojos%}
    <div>
        <a href="/dojo/{{i.id}}">{{i.name}}</a>
    </div>
    {%endfor%}
</body>
</html>