<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{one_dojo.name}} Ninjas{{one_dojo.ninjas}}</h3>
    <table>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        {%for ninja in one_dojo.ninjas %}
        <tr>
            <td>{{ninja.first_name}}</td>
            <td>{{ninja.last_name}}</td>
            <td>{{ninja.age}}</td>
        </tr>
        {%endfor%}
    </table>
    <a href="">Home</a>
</body>
</html>