<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>New Ninja</h3>
    <form action="/process", method="POST">
    <label for="dojo">Dojo</label>
    <select name="dojo_id" id="ninja">
        {% for i in dojos%}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
    </select>
        <div>
        <label for="">First Name</label>
        <input type="text" name="first_name">
        </div>
        <div>
            <label for="">Last Name</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <label for="">Age</label>
            <input type="text" name="age">
        </div>
        <div>
            <button>Create</button>
        </div>
        <a href="">Home</a>
    </form>

    
</body>
</html>